/* Font */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Color */
/* Media query */
/* Spacing */
body {
  background-image: url(../../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 15rem;
  transition: background-size 0.5s ease-in-out;
}
@media screen and (min-width: 48rem) {
  body {
    background-image: url(../../images/bg-main-mobile.png);
    background-size: 30rem 100%;
  }
}

.main_cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  padding-inline: 1rem;
}
@media screen and (min-width: 48rem) {
  .main_cont {
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
  }
}

.card {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  color: hsl(0, 0%, 100%);
  height: fit-content;
}
@media screen and (min-width: 48rem) {
  .card {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.6875rem;
    gap: 2.5rem;
  }
}

.card_back,
.card_front {
  height: 10rem;
  width: 17.5rem;
  position: relative;
  box-shadow: 0 0 3rem -1.5rem black;
  border-radius: 0.25rem;
  overflow: hidden;
}
@media screen and (min-width: 48rem) {
  .card_back,
  .card_front {
    height: 15.25rem;
    width: 28rem;
    border-radius: 0.5rem;
  }
}

.card_back {
  font-size: 0.6428571429rem;
  margin-inline-start: auto;
  z-index: 1;
  transform: translate(2rem, 2rem);
}
@media screen and (min-width: 48rem) {
  .card_back {
    font-size: 0.9rem;
    transform: translate(0, 0);
  }
}
.card_back .back_img {
  position: absolute;
  width: 100%;
}
.card_back .back_cvc {
  position: absolute;
  top: 4.425rem;
  left: 14.125rem;
}
@media screen and (min-width: 48rem) {
  .card_back .back_cvc {
    top: unset;
    left: unset;
    bottom: 7.25rem;
    right: 3.75rem;
    letter-spacing: 0.125rem;
  }
}

.card_front {
  padding-block: 1rem 1.25rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transform: translate(-2rem, -2rem);
}
@media screen and (min-width: 48rem) {
  .card_front {
    padding-block: 1.5rem 1.75rem;
    padding-inline: 2rem;
    transform: translate(0, 0);
    margin-inline-end: 6rem;
  }
}
.card_front .front_img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.card_front .front_circles {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .card_front .front_circles {
    gap: 1rem;
  }
}
.card_front .front_circles .circle_filled,
.card_front .front_circles .circle_empty {
  border-radius: 100vw;
  aspect-ratio: 1/1;
}
.card_front .front_circles .circle_filled {
  width: 2rem;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 48rem) {
  .card_front .front_circles .circle_filled {
    width: 3rem;
  }
}
.card_front .front_circles .circle_empty {
  width: 0.75rem;
  border: 1px solid hsl(0, 0%, 100%);
}
@media screen and (min-width: 48rem) {
  .card_front .front_circles .circle_empty {
    width: 1.25rem;
  }
}
.card_front .front_data {
  display: grid;
  row-gap: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .card_front .front_data {
    row-gap: 2rem;
  }
}
.card_front .front_data .data_pin {
  letter-spacing: 0.156rem;
}
@media screen and (min-width: 48rem) {
  .card_front .front_data .data_pin {
    letter-spacing: 0.25rem;
  }
}
.card_front .front_data .data_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.5625rem;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 48rem) {
  .card_front .front_data .data_info {
    font-size: 0.8490566038rem;
  }
}
.card_front .front_data .data_info .info_owner {
  text-transform: uppercase;
}

/* reset */
/* Variables *//*# sourceMappingURL=main.css.map */