@use "../variables" as v;

.main_cont {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    padding-inline: 1rem;

    @media screen and (min-width: v.$min-width) {
        flex-direction: row;
        justify-content: center;
        gap: 8rem;
    }
}