/* Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
$fs: 1.125rem;
$ff: 'Space Grotesk', sans-serif;
/* Color */
$gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$error: hsl(0, 100%, 66%);
$main-bg: hsl(0, 0%, 100%);
$input-border: hsl(270, 3%, 87%);
$placeholder: hsl(279, 6%, 55%);
$text-and-btn: hsl(278, 68%, 11%);
/* Media query */
$min-width: 48rem;
/* Spacing */
$card-offset: 2rem;